html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.btn{
  padding: 7px 20px !important ;
  border: none;
  border-radius: 0;
}
/* main{
  width: 100%;
  min-height: 100vh;
  background-color: ghostwhite;
} */

.hero{
  width: 100%;
  min-height: 70vh;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://cdn.pixabay.com/photo/2020/10/09/20/30/pumpkins-5641482_960_720.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mid-inner{
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.mid-inner h1{
  font-size:75px ;
  color: white;
  padding: 5px;
  
}
.mid-inner h5{
  color: white;
}

.blog{
  width: 100%;
  min-height: 80vh;
  background-color: ghostwhite;
  padding: 75px 0;
}
.card{
  border-radius: 0 !important;
  box-shadow: 0px 2px 15px grey;

}
.bimg{
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin:   auto;
  display: block;
}

.bigimg{
  object-fit: cover;
  width: 100%;
  height: 450px;
  margin:   auto;
  display: block;
}
.blog p{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.disable{
  cursor: no-drop !important;

}

@media (max-width:700px) {
  .mid-inner h1{
    font-size:55px ;
    
  }
  
}

@media (max-width:400px) {
  .mid-inner h1{
    font-size:45px ;
    
  }
  
}